<h1 align="center">Reset your password?</h1>
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 50px;">
            <div class="card-body p-5">
            <form>
                <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |f| %>

                <div class="form-outline mb-4">
                    <%= f.password_field :password, class: "form-control form-control-lg rounded-pill", placeholder: "Enter password", type: "password", id: "form3Example4cg" %>
                <label class="form-label" for="form3Example4cg"></label>
                </div>
    
                <div class="form-outline mb-4">
                    <%= f.password_field :password_confirmation, class: "form-control form-control-lg rounded-pill", placeholder: "Confirm Password", type: "password", id: "form3Example4cg"%>
                    <label class="form-label" for="form3Example4cg"></label>
                </div>
    
                <div class="d-flex justify-content-center">
                    <%= f.submit "Reset Password", class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
                </div>
            </form>
            <% end %> 
            </div>
        </div>
    </div>
</div>