<h1 class = "center" align = "center">Articles</h1>
<p>
    <%= link_to "New Article", new_article_path, class: "btn btn-secondary", style: "color: aqua;" %>
</p>

<%= render 'article', obj: @articles %>

<div align="center">
    <%= will_paginate %>
</div>
