<h1 align= "center">Members</h1>
<div align = "center">
<% @users.each do |user| %>
    <ul class="list">
        <div class="d-flex justify-content-center align-items-center">
            <div class="well">
                <li><%= link_to gravatar_for(user), user_path(user) %></li>
                <li class="article-title">
                    <%= link_to user.username, user_path(user) %>
                </li>
                <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
            </div>
        </div>
    </ul>
<% end %>
<%= will_paginate %>
</div>