<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">ARTKL</h1>
        <p class="lead">Welcome to your bloggin' site</p>
        <br>
        <% if logged_in? %>
        
        <% else %>
            <p class="lead">
                <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg btn-dark" %>
            </p>
        <% end %>
    </div>
</div>

