<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">ARTKL</h1>
        <p class="lead">Jumbo helper text</p>
        <br>
        <p class="lead">
            <a class="btn btn-primary btn-lg btn-dark" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
</div>

