<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |type, msg| %>
  <div class='alert alert-<%="#{type}" %> alert-dismissible fade show' role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= content_tag :div, msg, :id => "flash_#{type}" if msg.is_a?(String) %>
  </div>
    <% end %>
  </div>
</div>
